<div id="{{id}}"></div>
<script type="module">
    const bundleUrl =
        "{{ get_url(path='/js/bundle.js', cachebust=true) | safe }}";
    import(bundleUrl)
        .then((module) => {
            if (module && module.loadH5P) {
                module.loadH5P("h5p-newid", "/h5p/test");
            } else {
                console.error("loadH5P not found in module.");
            }
        })
        .catch((error) => {
            console.error("Failed to load bundle.js:", error);
        });
</script>
